.CusAssistance{
    width: 90%;
    min-height: 800px;
    color: #333;
    margin-bottom: 100px;
}
.CusFAQ > div > div {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}
.CusFAQ{
    font-size: 20px;
}
.CusFAQ > div{
    margin: 30px 0;
}

.CusAssistanceBox1{
    width: 800px;
    height: 160px;
    padding: 20px;
    border-radius: 15px;
    margin-top: 60px;
    background-image: url('/images/customer/mantoman.jpg');
    transition: 0.3s;
    cursor: pointer;
}
.CusAssistanceBox1:hover{
    transition: 0.3s;
    transform: translateY(-5px);    
    box-shadow: 0px 0px 5px rgba(1, 130, 216, 0.5);
}
.CusAssH2{
    margin-top: 50px;
    margin-bottom: 30px;
}

.CusAssistance p{
    font-weight: 600;
    margin: 10px 0;
}
.CusAssistance i{
    font-size: 20px;
    font-weight: 700;
}
.CusAssH2{
    font-weight: 600;
}
.CusAssistanceWrap{
    margin-bottom: 80px;
}

.bi.bi-chevron-down {
  transition: transform 0.3s ease;
  scale: 0.8;
  margin-left: 20px;
}
.bi.bi-chevron-down.active {
  transform: rotate(180deg);
}


.togglediv{
    /* padding: 15px; */
    margin-top: 10px;
}
.togglediv p{
    /* font-weight: 500; */
    font-size: 16px;
    margin-left: 30px;
}
.CusFAQSpan{
    cursor: pointer;
    font-weight: 500;
    color: #838383;
    font-size: 16px;
    margin-top: 10px;
    user-select: none;
}
.CusNoticeLink{
    border: 1px solid rgb(204, 204, 204);
    padding: 30px;
    border-radius: 15px;
}

.CusNoticeLink div p{
    margin: 20px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(209, 209, 209);
    font-size: 16px;
    cursor: pointer;
}
.CusNoticeLink div p:hover{
    color: #0b79b7;
}
.CusNoticeBox{
    margin-bottom: 100px;
}
.guideSideMenus{
    cursor: pointer;
}
.guideSideMenus2{
    width: 150px;
    font-size: 20px;
    margin: 10px 0;
    font-weight: 700;
    cursor: pointer;
    color: gray;
}
.guideSideMenus2:hover{
    color: #333;
}
.guideSideMenus2.active{
    color: rgb(211, 211, 211);
    cursor: default;
    pointer-events: none;
    user-select: none;
}
.cusNoticeH3{
    margin-bottom: 30px;
}
.cusBottomBtnBox{
    width: 300px;
    margin: 80px auto;
}
.cusBottomBtn{
    width: 250px;
    padding: 10px;
    border: none;
    background-color: #2591cf;
    border-radius: 10px;
    color: white;
    font-size: 19px;
    transition: 0.2s;
}
.cusBottomBtn:hover{
    background-color:  #065d8f;
}
.customertotop{
    cursor: pointer;
}
.guideGoToHome.active{
    color: #333;
}

.togglediv{
    user-select: none;
}
.modalOpen{
    width: 600px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px;
    z-index: 101;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.modalOpen .bi-x{
    position: absolute;
    top:0px;
    right: 10px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}
.modal1title{
    width: 535px;
    margin-bottom: 10px;
}
.modal1content{
    width: 535px;
    height: 300px;
}
.modal1Contentspan{
    color: #0b79b7;
}
.modal1Content input{
    margin: 10px 0;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    outline-color: #0b79b7;
    font-weight: 500;
}
.modal1Content textarea{
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(194, 194, 194);
    outline-color: #0b79b7;
}
.modal1Content p, .modal1Content span{
    font-weight: 500;
    font-size: 18px;
}
.modalOpen h3{
    font-weight: 600;
    margin-bottom: 20px;
    color: #0b79b7;
}
.cusOverlay{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}
.submitinqu{
    width: 648px;
    /* margin: 0 auto; */
    text-align: center;
}
/* .submitinqu button{
    width: 100%;
    font-size: 19px;
    padding: 10px;
    border: none;
    background-color: #0b79b7;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
}
.submitinqu button:hover{
    background-color: #065d8f ;
} */
.modalOpen .bi-x:hover{
    color: #0b79b7;
}
.havetologin{
    text-align: center;
    margin: 70px 0;
    font-size: 22px;
    font-weight: 500;
}
.guideMainTextp{
    margin: 10px 0;
}

/* 채팅 영역 */
.chat-container {
  /* max-width: 900px; */
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-top: 2px solid #838383;
  border-bottom: 2px solid #838383;
  padding: 30px 0;
}

/* 한 질문 세트 */
.chat-row {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* 공통 말풍선 */
.chat-bubble {
  max-width: 70%;
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 16px;
  line-height: 1.8;
  animation: fadeIn 0.3s ease;
}

/* 질문 (오른쪽) */
.chat-bubble.question {
  align-self: flex-end;
  background:#2591cf;
  color: white;
  border-radius: 35px 35px 2px 35px;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  margin: 20px 70px;
}
.chat-bubble.question::after {
    position: absolute;
    content: "Q";
    color: #2591cf;
    top: -27px;
    right: -57px;
    font-size: 45px;
    font-weight: 700;
}
.chat-bubble.question::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: -10px;
    right: -70px;
    background-color: #fff;
    /* border: 1px solid #e8eaec; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-bubble.question:hover {
  transform: translateY(-2px);
}
.Alogo{
    position: absolute;
    bottom: -35px;
    left: -90px;
    max-width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* 답변 (왼쪽) */
.chat-bubble.answer {
    position: relative;
    align-self: flex-start;
    background: white;
    color: #333;
    border-radius: 35px 35px 35px 2px;
    background-color: #e8eaec;
    /* box-shadow: 0 8px 20px rgba(0,0,0,0.2); */
    margin-left: 70px;
    padding: 15px 25px;
}

.chat-bubble.answer::after {
    position: absolute;
    content: "A";
    color: #fff;
    bottom: -7px;
    left: -54px;
    font-size: 45px;
    font-weight: 700;
}
.chat-bubble.answer::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: 0;
    left: -70px;
    background-color: #2591cf;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 텍스트 정리 */
.chat-text {
  white-space: pre-line; /* 줄바꿈 유지 */
  color: white;
}
.chat-text2 {
  white-space: pre-line; /* 줄바꿈 유지 */
  color: rgb(49, 49, 49);
}

/* 등장 애니메이션 */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(8px); }
  to { opacity: 1; transform: translateY(0); }
}
.CusFAQ > p{
    font-size: 19px;
    margin-bottom: 100px;
}
.CusFAQ > p a{
    color: #0b79b7;
    font-weight: bold;
}
.CusFAQ > p a:hover{
    color: #065d8f;
    text-decoration: underline;
}

.guideWrap a.active .MyPageSideMenus{
    color: #222;
}