#root .myinfo-Wrap {
  width: 100%;
  min-height: 800px;
  margin-bottom: 20px;
}

#root .myinfo-Wrap .myInfoBtn {
  display: flex;
  justify-content: space-between;
}
#root .myinfo-Wrap .myInfoBtn .myinfo-btn1{
  background-color: #0b79b7;
  color: #fff;
  padding: 7px 15px;
  margin: 10px 0;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}
#root .myinfo-Wrap .myInfoBtn .myinfo-btn1:hover {
  background-color: #09679c;
}

#root .myinfo-Wrap table {
  border-radius: 10px;
  width: 100%;
  border-top: 2px solid #333;
}

#root .myinfo-Wrap table tbody tr {
  border-bottom: 1px solid #d3d3d3;
}

#root .myinfo-Wrap table tbody tr th {
  font-weight: normal;
  color: #666;
  padding-left: 20px;
  width: 220px;
}

#root .myinfo-Wrap table tbody tr td {
  padding: 20px 0;
}

#root .myinfo-Wrap .myinfo-btn2, 
#root .myinfo-Wrap .myinfo-btn2 i{
  border: 1px solid #666;
  border-radius: 7px;
  padding: 7px 15px;
  background-color: transparent;
  color: #444;
  margin-top: 20px;
}
#root .myinfo-Wrap .myinfo-btn2:hover{
  color: #666;
  background-color: #f0f0f0;
}