.mypage_inquiry{
    width: 100%;
    min-height: 800px;
}
.mypage_inquiry .inquiry_none{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
}

.mypage_inquiry .inquiryCnt{
    padding: 20px 0 10px 0;
    border-bottom: 2px solid #000;
}

/* 문의내역 없을 때 생기는 부분 */
.mypage_inquiry .inquiry_none > i{
    font-size: 25px;
    font-weight: bold;
    color: #666;
    /* color: #0b79b7; */
}
.mypage_inquiry .inquiry_none > p{
    color: #666;
}
.mypage_inquiry .inquiry_none .mypage_btn{
    background-color: #0b79b7;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
.mypage_inquiry .inquiry_none .mypage_btn:hover{
    background-color: #065d8f;
}

.mypage_inquiry .MyInquiryWrap table{
    width: 100%;
    text-align: center;
}
.mypage_inquiry .MyInquiryWrap table th{
    padding: 10px 0;
}
.mypage_inquiry .MyInquiryWrap table tr{
    border-bottom: 1px solid #d3d3d3;
    cursor: pointer;
}
.mypage_inquiry .MyInquiryWrap table tbody tr:hover{
    background-color: #f7f8fa;
}
.mypage_inquiry .MyInquiryWrap table tr td{
    padding: 20px 0;
    /* width: 200px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}