#root .ReservationSection{
    width: 1300px;
    margin: 120px auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

/* 좌측 */
#root .ReservationSection .Reser_driverInfo .Reser_h4{
    margin: 40px 0 20px 0;
    color: #555;
}
#root .ReservationSection .Reser_reservationInfo{
    width: 900px;
    /* border: 1px solid red; */
    /* margin: 50px 0 200px 0; */
}
#root .ReservationSection .Reser_reservationInfo .R_Head{
    display: flex;
    gap: 10px;
}
#root .ReservationSection .Reser_reservationInfo .R_modal{
    width: 400px;
    height: 400px;
    margin: 0 auto;
}
#root .ReservationSection .Reser_reservationInfo > h2{
    font-size: 25px;
    font-weight: bold;
    margin-top: 40px;
}
#root .ReservationSection .Reser_reservationInfo .Reser_driverInfo > h3{
    font-size: 23px;
}
#root .ReservationSection .Reser_reservationInfo .Reser_driverInfo > h3 > span{
    color: #0b79b7;
}
#root .ReservationSection .Reser_reservationInfo .Reser_driverInfo{
    margin-top: 15px;
}
#root .ReservationSection .Reser_reservationInfo .Reser_driverInfo > p{
    font-size: 16px;
    color: #888;
    /* margin-bottom: 50px; */
}
.address_position{
    position: relative;
}
.addressBtn{
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
    right: 200px;
    border: 1px solid #999;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}
.addressBtn:hover{
    background-color: #e2e2e2;
}

/* 운전자 기본정보 */
#root .ReservationSection .Reser_reservationInfo .Reser_driverInfo .Reser_driverBasicInfo > ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px;
}
#root .ReservationSection .Reser_reservationInfo .Reser_driverInfo .Reser_driverBasicInfo > ul li > h5,
#root .ReservationSection .Reser_reservationInfo .Reser_driverInfo .Reser_driverLicenseInfo > div ul li > p{
    /* background-color: #f2f3f5; */
    border-bottom: 1px solid #dcdee0;
    padding: 15px 0;
    margin: 10px 0;
    font-size: 18px;
    color: #555;
    /* width: 500px; */
    width: 700px;
}


/* 안내문구 */
.Reser_reservationNotice{
    margin-top: 50px;
    width: 720px;
    background-color: #e9eaee;
    padding: 30px;
    border-radius: 7px;
}
.Reser_reservationNotice > p {
    color: rgb(236, 69, 69);
}

.Reser_reservationNotice .bi-exclamation-circle-fill{
    color: #ff6f43;
}

/* 우측 */
#root .ReservationSection .Reser_reservationSummary{
    width: 300px;
    position: sticky;
    align-self: flex-start;
    right: 0;
    top: 120px;
    width: 360px;
    /* height: 550px; */
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
#root .ReservationSection .Reser_reservationSummary .summary_card .info_box > hr{
    margin: 30px 0;
}
#root .ReservationSection .Reser_reservationSummary .summary_card > h5{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
}

#root .ReservationSection .Reser_reservationSummary .info_box > h4{
    font-size: 18px;
    margin: 10px 0;
}
#root .ReservationSection .Reser_reservationSummary .info_box > h5{
    font-size: 16px;
}

/* 총결제금액 */
.price_total > p{
    font-size: 20px;
}
.Reser_payment > hr{
    margin: 30px 0;
}

/* 결제정보 */
.price_total .Reser_payment > h4{
    margin: 20px 0;
    font-size: 20px;
    font-weight: 600;
}
.price_total .Reser_payment > p{
    font-size: 18px;
    font-weight: 500;
}
.price_total .Reser_payment > ul li{
    margin: 10px 0;
}
.price_total .Reser_payment > ul li input{
    margin-right: 5px;
}
.price_total .Reser_payment > ul li input,
.price_total .Reser_payment > ul li label{
    cursor: pointer;
}
.price_total .Reser_payment > ul li .kakao_pay,
.price_total .Reser_payment > ul li .naver_pay{
    width: 50px;
    margin-left: 10px;
}

/* 결제하기 버튼 */
#root .ReservationSection .Reser_reservationSummary .summary_card .pay_btn{
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 19px;
    background-color: #0b79b7;
    color: #fff;
    width: 100%;
    height: 50px;
    margin-top: 20px;
}
#root .ReservationSection .Reser_reservationSummary .summary_card .pay_btn:hover{
    background-color: #065d8f;
}
#root .reservationmodalbtn{
    display: flex;
    justify-content: space-between;
}
#root .reservationmodalbtn button{
    width: 49%;
    padding: 10px;
    font-size: 19px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #0b79b7;
}
#root .reservationmodalbtn button:hover{
    background-color: #065d8f;
}
.reservationOverlay{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.reserPriceBox{
    display: flex;
    justify-content: space-between;
}