.AllInquiry {
    width: 100%;
    min-height: 900px;
}

/* .AllInquiry .Inquiry_head h4 {
    font-size: 24px;
} */
.AllInquiry .Inquiry_head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* margin-bottom: 20px; */
}

.AllInquiry .Inquiry_head>button {
    background-color: #444;
    color: white;
    padding: 5px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
}

.AllInquiry .Inquiry_head>button:hover {
    background-color: #222;
}

.AllInquiry table {
    width: 100%;
    text-align: center;
    border-top: 2px solid #333;
}

.AllInquiry table thead tr td{
    padding: 10px 0;
}

.AllInquiry table tr {
    cursor: pointer;
    border-bottom: 1px solid #d3d3d3;
}

.AllInquiry table tbody tr:hover {
    background-color: #f7f8fa;
}

.AllInquiry table tbody td {
    padding: 20px 0;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.AllInquiry table td a:hover {
    color: #0b79b7;
}

/* 모달 */
.isModalOpen_pwChk {
    content: '';
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 10;
    padding: 30px;
    background-color: #fff;
    border-radius: 7px;
    z-index: 60;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}

.isModalOpen_pwChk input {
    border: none;
    border-bottom: 1px solid #777;
    width: 100%;
    padding: 10px;
    outline: none;
}

.isModalOpen_pwChk button {
    padding: 5px 15px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
}

.isModalOpen_pwChk button.pwBtnYes {
    background-color: #0b79b7;
    color: #fff;
}

.isModalOpen_pwChk button.pwBtnYes:hover {
    background-color: #065d8f;
}

.isModalOpen_pwChk button.pwBtnNo {
    background-color: #dee2e6;
}

.isModalOpen_pwChk button.pwBtnNo:hover {
    background-color: #ced4da;
}

.pwOverlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000025;
    width: 100%;
    height: 100%;
    z-index: 0;
}