.AllInquiry {
    min-height: 800px;
}

/* .AllInquiry .Inquiry_head h4 {
    font-size: 24px;
} */
.AllInquiry .Inquiry_head{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
 }
 .AllInquiry .Inquiry_head > button{
    background-color: #444;
    color: white;
    padding: 5px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
}

.AllInquiry table {
    width: 100%;
    margin-top: 20px;
    font-size: 15px;
    /* table-layout: fixed; */
}

.AllInquiry table thead {
    background-color: #dee2e6;
    /* font-weight: bold; */
}

.AllInquiry table tbody tr {
    cursor: pointer;
}

.AllInquiry table tbody tr:hover{
    background-color: #f2f4f7;
}

.AllInquiry table td {
    border-bottom: 1px solid #d3d3d3;
    padding: 7px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.AllInquiry table td a:hover {
    color: #0b79b7;
}

/* 모달 */
.AllInquiry .isModalOpen{
    content: '';
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 10;
    padding: 30px;
    background-color: #fff;
    border-radius: 7px;
    z-index: 60;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}
.AllInquiry .isModalOpen input{
    border: none;
    border-bottom: 1px solid #777;
    width: 100%;
    padding: 10px;
}
.AllInquiry .isModalOpen button{
    padding: 5px 15px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
}
.AllInquiry .isModalOpen button.pwBtnYes{
    background-color: #0b79b7;
    color: #fff;
}
.AllInquiry .isModalOpen button.pwBtnYes:hover{
    background-color: #065d8f;
}
.AllInquiry .isModalOpen button.pwBtnNo{
    background-color: #dee2e6;
}
.AllInquiry .isModalOpen button.pwBtnNo:hover{
    background-color: #ced4da;
}

.pwOverlay{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000025;
    width: 100%;
    height: 100%;
    z-index: 0;
}
