.inquiryUpdate{
    width: 90%;
    min-height: 800px;
}

.inquiryUpdate .inquiryUpdateform{
    margin-top: 10px;
}
.inquiryUpdate .inquiryUpdateform p{
    font-size: 18px;
    font-weight: 500;
}

.inquiryUpdate .inquiryUpdateform table{
    width: 100%;
    margin-top: 20px;
}
.inquiryUpdate .inquiryUpdateform table tr td input,
.inquiryUpdate .inquiryUpdateform table tr td textarea{
    width: 80%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #999;
}
.inquiryUpdate .inquiryUpdateform table tr td textarea{
    white-space: pre-wrap;
    resize: none;
}