.noticeInfo{
    width: 1300px;
    margin: 150px auto;
    min-height: 800px;
    color: #333;
}

/* 공지사항 타이틀 */
.noticeInfo > h4{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}

/* 테이블 */
.noticeInfo table{
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #dee2e6;
    color: #333;
}
/* .noticeInfo table tr td h3{
    font-weight: 25px;
} */
.noticeInfo table tr{
    border-bottom: 1px solid #dee2e6;
    /* display: flex; */
    /* font-weight: 500; */
}
.noticeInfo table th{
    width: 200px;
    /* border-top: 1px solid #dee2e6; */
    padding: 0 5px;
    /* font-weight: 500; */
}
.noticeInfo table td{
    padding: 15px 5px;
}

/* 하단 버튼 */
.noticeInfo .noticeInfo_btn{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.noticeInfo .noticeInfo_btn > button{
    border: none;
    background-color: transparent;
}
.noticeInfo .noticeInfo_btn > button:hover{
    font-weight: bold;
}