.notice_modfiy{
    color: #333;
    width: 1300px;
    min-height: 800px;
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 테이블 */
.notice_modfiy table{
    width: 700px;
    border-collapse: collapse;
    border-top: 1px solid #dee2e6;
    margin: 20px 0;
}
.notice_modfiy table tr{
    border-bottom: 1px solid #dee2e6;
}
.notice_modfiy table tr th{
    padding: 15px;
    width: 90px;
}
.notice_modfiy table tr td input, 
.notice_modfiy table tr td textarea{
    padding: 8px;
    width: 100%;
    border: none;
    outline: none;
    white-space: pre-wrap;
    resize: none;
}