
.ManagerAllCar {
    max-width: 1300px;
    margin: 120px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    font-family: sans-serif;
}

.ManagerAllCar h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 25px;
    text-align: center;
}

.ManagerAllCar select, 
.ManagerAllCar > input {
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 5px;
    vertical-align: middle;
}

.ManagerAllCar .acp_btn {
    height: 40px;
    padding: 0 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ManagerAllCar button:hover {
    background-color: #555;
}

/* 테이블*/
.m_AllCar_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-top: 2px solid #333;
}

.m_AllCar_th .m_AllCar_tr {
    background-color: #f8f9fa;
}

.m_AllCar_th th {
    padding: 15px 10px;
    font-size: 16px;
    color: #555;
    text-align: center;
    border-bottom: 1px solid #c0c0c0;
}

.m_AllCar_tb td {
    padding: 15px 10px;
    font-size: 16px;
    color: #666;
    text-align: center;
    border-bottom: 1px solid #c1c1c1;
    text-align: center;
}

/* 이미지 처리 */
.m_AllCar_tableCarImg img {
    width: 100px;
    height: 60px;
    border-radius: 4px;
    cursor: pointer;
}

.m_AllCar_tableCarImg img:hover {
    transform: scale(1.03);
}

/* 데이터 없을 때 */
.m_AllCar_tr_none {
    height: 200px;
}

.m_AllCar_td_none {
    color: #999;
    font-size: 16px;
}

/* 페이징 */
.notice_paging {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 30px;
}

.notice_paging button {
    min-width: 35px;
    height: 35px;
    padding: 0;
    background-color: #fff;
    color: #666;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.notice_paging button.active {
    background-color: #dcdcdc;
    color: #fff;
    border-color: #ababab;
}

.notice_paging button:hover:not(.active) {
    background-color: #f1f1f1;
}

/* 하단 버튼 영역 */
.btn_part {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.del_btn {
    font-weight: bold;
}

.del_btn:hover {
    background-color: #c82333 !important;
}

.AllCar_del {
    width: 18px;
    height: 18px;
    cursor: pointer;
}