.AllInquiryDetail{
    color: #333;
    width: 1300px;
    min-height: 800px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AllInquiryDetail h1 {
    text-align: center;
    margin: 50px 0;
}

.AllInquiryDetail table {
    width: 80%;
    margin-bottom: 20px;
    border-top: 1px solid #d3d3d3;
}
.AllInquiryDetail table th {
    background-color: #f2f3f5;
    font-weight: bold;
}
.AllInquiryDetail table tr th {
    text-align: center;
    width: 10%;
}
.AllInquiryDetail table tr td{
    width: 25%;
}
/* .AllInquiryDetail table tr .td{
    min-height: 300px;
} */
.AllInquiryDetail table tr th, 
.AllInquiryDetail table tr td {
    border-bottom: 1px solid #d3d3d3;
    padding: 10px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.AllInquiryDetail table tr td button{
    border: none;
    background-color: transparent;
    color: #2591cf;
}
.AllInquiryDetail table tr td button:hover{
    color: red;
}

.AllInquiryDetail button{
    border: none;
    background-color: transparent;
    font-weight: 500;
    color: #777;
}
.AllInquiryDetail button:hover{
    color: #222;
}