.AllInquiry {
    color: #333;
    width: 1300px;
    min-height: 800px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AllInquiry h1 {
    text-align: center;
    margin: 50px 0;
}

.AllInquiry table {
    width: 80%;
}

.AllInquiry table thead {
    background-color: #2591cf;
    font-weight: bold;
}

.AllInquiry table thead tr td {
    color: #fff;
}

.AllInquiry table td {
    border-bottom: 1px solid #d3d3d3;
    padding: 7px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.AllInquiry table td a:hover {
    color: #0b79b7;
}