
.AllReservation {
    max-width: 1300px;
    margin: 120px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 12px;
    font-family: sans-serif;
    box-sizing: border-box;
}

.AllReservation h1 {
    text-align: center;
    font-size: 24px;
    color: #1a1a1a;
    margin-bottom: 25px;
    font-weight: 700;
}

/* 검색 */
.AllReservation .search_area {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.AllReservation .search_area .search_select, .search_input{
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 5px;
    outline: none;
    box-sizing: border-box;
}

.AllReservation .search_area .search_btn {
    height: 40px;
    padding: 0 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.AllReservation .search_area .search_btn:hover {
    background-color: #555;
}

/* 테이블*/
.AllReservation .AllReservation_table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    border: 1px solid rgb(221, 221, 221);
}

.AllReservation .AllReservation_table thead tr th {
    background-color: #f1f3f5;
    color: #555;
    padding: 12px 10px;
    font-size: 15px;
    border-bottom: 1px solid #d8d8d8;
    text-align: center;
    font-weight: 600;
}

.AllReservation .AllReservation_table tbody tr td {
    padding: 10px 15px; 
    text-align: center;
    border-bottom: 1px solid #d8d8d8;
    color: #333;
    font-size: 14px;
    vertical-align: middle;
}

.AllReservation .AllReservation_table tbody tr:hover {
    background-color: #f8fbff;
}

.AllReservation .AllReservation_table tbody tr .AllReservation_clicktd {
    cursor: pointer;
    transition: all 0.2s;
}

.AllReservation .AllReservation_table tbody tr .AllReservation_clicktd:hover {
    color: #222;
    font-weight: 600;
    text-decoration: underline;
}

.AllReservation .AllReservation_table tbody tr td .AllCar_del {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

/* 데이터 없음 처리 */
.AllReservation .AllReservation_table tbody .AllReservation_tr_none td {
    padding: 60px 0 !important;
    color: #adb5bd;
    font-style: italic;
    border: none;
}

/* 버튼 */
.AllReservation .btn_part {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.AllReservation .btn_part .del_btn {
    height: 40px;
    padding: 0 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}