/* 전체 레이아웃 */
.ManagerAllUser {
    max-width: 1300px;
    margin: 120px auto;
    background-color: #fff;
    border-radius: 12px;
    /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08); */
    font-family: sans-serif;
    min-height: 800px;
}

.ManagerAllUser h1 {
    text-align: center;
    font-size: 24px;
    color: #1a1a1a;
    margin-bottom: 25px;
    font-weight: 700;
}

/* 검색바 영역 */
.ManagerAllUser .mau_find{
    display: flex;
    vertical-align: middle;
}

.ManagerAllUser .mau_find .mau_info{
    margin-left: auto;
    padding-right: 10px;
    font-size: 13px;
    margin-top: 19px;
    color: #666;
}

.ManagerAllUser .mau_find .mau_select, .mau_input{
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 5px;
    vertical-align: middle;
    outline: none;
}

/* .ManagerAllUser .mau_find .mau_input{
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 5px;
    vertical-align: middle;
} */

.ManagerAllUser .mau_find .mau_btn,.del_btn{
    height: 40px;
    padding: 0 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ManagerAllUser .mau_find .mau_btn:hover {
    background-color: #555;
}

/* 테이블 스타일 */

.ManagerAllUser .managerAllUser_table .managerAllUser_table_th .managerAllUser_tr .managerAllUser_num{
    width: 5%;
}
.ManagerAllUser .managerAllUser_table .managerAllUser_table_th .managerAllUser_tr .managerAllUser_userId{
    width: 10%;
}
.ManagerAllUser .managerAllUser_table .managerAllUser_table_th .managerAllUser_tr .managerAllUser_userName{
    width: 7%;
}
.ManagerAllUser .managerAllUser_table .managerAllUser_table_th .managerAllUser_tr .managerAllUser_userEmail{
    width: 20%;
}
.ManagerAllUser .managerAllUser_table .managerAllUser_table_th .managerAllUser_tr .managerAllUser_userResiNum{
    width: 15%;
}
.ManagerAllUser .managerAllUser_table .managerAllUser_table_th .managerAllUser_tr .managerAllUser_userPhone{
    width: 10%;
}
.ManagerAllUser .managerAllUser_table .managerAllUser_table_th .managerAllUser_tr .managerAllUser_userRegDate{
    width: 15%;
}
.ManagerAllUser .managerAllUser_table .managerAllUser_table_th .managerAllUser_tr .managerAllUser_userDel{
    width: 7%;
}

.managerAllUser_table {
    width: 1300px;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgb(221, 221, 221);
}

.managerAllUser_table th {
    background-color: #f1f3f5;
    color: #555;
    padding: 15px 10px;
    font-size: 16px;
    border-bottom: 1px solid #d8d8d8;
    text-align: center;
}

.managerAllUser_table .managerAllUser_table_tb .managerAllUser_tr:last-child td{
    border-bottom: none;
} 
.mau_div{
    text-decoration: underline;
}
.mau_td:hover{
    text-decoration: underline;
    cursor: pointer;
}


.managerAllUser_table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #d8d8d8;
    color: #333;
    font-size: 15px;
}

.managerAllUser_table_tb tr:hover {
    background-color: #f8fbff;
}

/* 데이터 없을 때 */
.managerAllUser_table_td_none {
    padding: 60px 0 !important;
    color: #adb5bd;
    font-style: italic;
}