
.carMod {
  max-width: 950px;
  margin: 130px auto;
  padding: 40px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.carMod .carMod_container .carMod_header{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #333;
    margin-bottom: 30px;
    /* border: 1px solid red; */
}

.carMod .carMod_container .carMod_header .carMod_Btn{
    padding: 10px 20px;
    background-color: #222;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    color: #fbfbfb;
    cursor: pointer;
    border: none;
}

.carMod .carMod_container .carMod_header .carMod_Btn:hover{
    background-color: #414141;
}

/* 제목 */
.carMod .carMod_container .carMod_header .carMod_title {
  font-size: 26px;
  color: #333;
  padding-top: 5px;
  font-weight: 700;
  /* margin-bottom: 20px; */
  padding-bottom: 30px;
  
}

/* 테이블*/
.carMod .carMod_container .carMod_table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: none;
}


.carMod .carMod_container .carMod_table .carMod_tr {
  border-bottom: 1px solid #eee;
}


.carMod .carMod_container .carMod_table .carMod_td_label {
  width: 140px;
  padding: 15px;
  background-color: #f8f9fa;
  color: #495057;
  font-weight: 600;
  font-size: 16px;
}


.carMod .carMod_container .carMod_table .carMod_td_input {
  padding: 10px 15px;
}


.carMod .carMod_container .carMod_table .carMod_td_input .carMod_input, .carMod_select {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 15px;
  transition: all 0.2s;
}

.carMod .carMod_container .carMod_table .carMod_td_input .carMod_input:focus, .carMod_select:focus{
  outline: none;
  border-color: #4dabf7;
}


.carMod .carMod_container .carMod_modBtn {
  width: 100%;
  height: 50px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.carMod .carMod_container .carMod_modBtn:hover {
  background-color: #555;
}