<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cha.booking.mapper.BookingMapper">
	<!-- 전체 예약 목록 출력 -->
	<select id="getAllBooking" resultType="bookingDTO">
		SELECT * FROM booking
	</select>
	<!-- 전체 예약 목록 출력 -->
	<select id="getAllBookingStatus" resultType="bookingDTO">
		<![CDATA[
		SELECT *,
		CASE
	      WHEN NOW() < STR_TO_DATE(
	        CONCAT(startDate, ' ', startTime),
	        '%Y-%m-%d %H:%i'
	      )
	        THEN 'UPCOMING'
	
	      WHEN NOW() BETWEEN
	        STR_TO_DATE(
	          CONCAT(startDate, ' ', startTime),
	          '%Y-%m-%d %H:%i'
	        )
	        AND
	        STR_TO_DATE(
	          CONCAT(endDate, ' ', endTime),
	          '%Y-%m-%d %H:%i'
	        )
	        THEN 'ONGOING'
	      ELSE 'PAST'
	    END AS bookingStatus FROM booking
	    ]]>
	</select>
	
	
	<!-- 로그인한 유저 예약 목록 출력 -->
	<select id="getUserBooking" resultType="bookingDTO">
		SELECT * FROM booking
		WHERE userId = #{userId}
	</select>
	
	<!-- 예약 추가 -->
	<insert id="insertBooking" parameterType="bookingDTO">
		INSERT INTO booking(bookingId, userId, carId, bookedDate, startDate, startTime, endDate, endTime, carPrice, insurancePrice, totalPrice, paymentMethod)
		VALUES(#{bookingId}, #{userId}, #{carId}, #{bookedDate}, #{startDate}, #{startTime}, #{endDate}, #{endTime}, #{carPrice}, #{insurancePrice}, #{totalPrice}, #{paymentMethod})
	</insert>

	<!-- 예약 삭제 단일(회원용)-->
	<delete id="deleteBooking" parameterType="String">
		DELETE FROM booking WHERE bookingId = #{bookingId}
	</delete>
	
	<!-- 선택 예약 삭제(관리자용) -->
	<delete id="deleteSelectedBookings" parameterType="String">
		DELETE FROM booking WHERE bookingId IN
		<foreach item="id" collection="list" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
</mapper>