<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cha.inquiry.mapper.InquiryMapper">
	<!-- public void insertInquiry(InquiryDTO rdto); -->
	<insert id="insertInquiry" parameterType="InquiryDTO">
        INSERT INTO inquiry(inquiryId, userId, title, password, content, regDate) 
        VALUES (CONCAT(DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), "_", #{userId}),
         #{userId}, #{title}, #{password}, #{content}, NOW())
    </insert>
	
	<!-- public void updateAnswer(InquiryDTO idto, String inquiryId); -->
	<update id="updateAnswer" parameterType="InquiryDTO">
		UPDATE inquiry 
		SET answer = #{answer}, modDate = NOW() 
		WHERE inquiryId = #{inquiryId}
	</update>
	
	<!-- public List<InquiryDTO> inquiryList(); -->
	<select id="inquiryList" resultType="InquiryDTO">
		SELECT i.*, u.name 
		FROM inquiry i LEFT JOIN user u 
		ON i.userId = u.userId
		ORDER BY i.modDate ASC
	</select>
	
	<!-- public int getCountByUserId(String userId); -->
	<select id="getCountByUserId" resultType="int">
	    SELECT COUNT(*) FROM inquiry
	    <where>
	        <if test="userId != null and userId != ''">
	            AND userId = #{userId}
	        </if>
	    </where>
	</select>
	
	<!-- public InquiryDTO getInquiryDetail(String inquiryId); -->
	<select id="getInquiryDetail" resultType="InquiryDTO" parameterType="String">
		SELECT i.*, u.name 
	    FROM inquiry i 
	    LEFT JOIN user u ON i.userId = u.userId 
	    WHERE i.inquiryId = #{inquiryId}
	</select>
	
	<!-- public void updateInquiry(InquiryDTO idto); -->
	<update id="updateInquiry" parameterType="InquiryDTO">
		UPDATE inquiry SET title = #{title}, content = #{content}, password = #{password}, modDate = NOW() 
		WHERE inquiryId = #{inquiryId}
	</update>
	
	<!-- public int deleteInquiry(String inquiryId); -->
	<delete id="deleteInquiry" parameterType="InquiryDTO">
		DELETE FROM inquiry WHERE inquiryId = #{inquiryId}
	</delete>
	
	<!-- ======================= 페이징 ======================= -->

	<!-- 전체 공지 개수 -->
	<select id="getAllCount" resultType="int">
		SELECT COUNT(*) FROM inquiry
	</select>

	<!-- 공지 전체 목록 -->
	<select id="getPageList" resultType="InquiryDTO">
	    SELECT i.*, u.name 
	    FROM inquiry i 
	    LEFT JOIN user u ON i.userId = u.userId
	    <where>
	        <if test="userId != null and userId != ''">
	            AND i.userId = #{userId}
	        </if>
	    </where>
	    ORDER BY i.modDate DESC
	    LIMIT #{startRow}, #{pageSize}
	</select>
</mapper>