<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cha.manager.mapper.ManagerMapper">

	<!-- 전체 예약 수 -->
	<select id="AllBookCarCount" resultType="int">
		SELECT COUNT(*) FROM booking
	</select>
	
	
	<!-- 전체 예약 페이징 메서드 -->
	<select id="GetAllBookCar" resultType="managerDTO">
	<![CDATA[
		SELECT *,
		
	    CASE
	      WHEN NOW() < STR_TO_DATE(
	        CONCAT(b.startDate, ' ', b.startTime),
	        '%Y-%m-%d %H:%i'
	      )
	        THEN 'UPCOMING'
	
	      WHEN NOW() BETWEEN
	        STR_TO_DATE(
	          CONCAT(b.startDate, ' ', b.startTime),
	          '%Y-%m-%d %H:%i'
	        )
	        AND
	        STR_TO_DATE(
	          CONCAT(b.endDate, ' ', b.endTime),
	          '%Y-%m-%d %H:%i'
	        )
	        THEN 'ONGOING'
	      ELSE 'PAST'
	    END AS bookingStatus
	    
		FROM booking b
		LEFT JOIN car c
		ON b.carId = c.carId
		ORDER BY b.bookedDate ASC
		LIMIT #{startRow}, #{pageSize}
		]]>
	</select>
	
	<!-- 검색 예약 메서드 -->
	<select id="GetAllSearchBookCar" resultType="managerDTO">
	  SELECT *,
	  <![CDATA[
	    CASE
	      WHEN NOW() < STR_TO_DATE(
	        CONCAT(b.startDate, ' ', b.startTime),
	        '%Y-%m-%d %H:%i'
	      ) THEN 'UPCOMING'
	      WHEN NOW() BETWEEN
	        STR_TO_DATE(CONCAT(b.startDate, ' ', b.startTime), '%Y-%m-%d %H:%i')
	        AND
	        STR_TO_DATE(CONCAT(b.endDate, ' ', b.endTime), '%Y-%m-%d %H:%i')
	      THEN 'ONGOING'
	      ELSE 'PAST'
	    END AS bookingStatus
	  ]]>
	  FROM booking b
	  LEFT JOIN car c ON b.carId = c.carId

	  <where>
	    <choose>
	      <when test="searchType == 'bookingId'">
	        b.bookingId LIKE CONCAT('%', #{searchKeyWord}, '%')
	      </when>
	      <otherwise>
	        b.userId LIKE CONCAT('%', #{searchKeyWord}, '%')
	      </otherwise>
	    </choose>
	  </where>

  	ORDER BY b.bookedDate ASC
	LIMIT #{startRow}, #{pageSize}
	</select>
	
	<!-- 검색 예약 수 -->
	<select id="AllSearchBookCarCount" resultType="int">
	  SELECT COUNT(*)
	  FROM booking b
	  INNER JOIN car c ON b.carId = c.carId
	  <where>
	    <choose>
	      <when test="searchType == 'userId'">
	        b.userId LIKE CONCAT('%', #{searchKeyWord}, '%')
	      </when>
	      <otherwise>
	        c.model LIKE CONCAT('%', #{searchKeyWord}, '%')
	      </otherwise>
	    </choose>
	  </where>
	</select>
	
	<!-- 예약 아이디로 예약(차량조인) 하나 조회하기 -->
	<select id="getoneBookManager" resultType="managerDTO">
	  <![CDATA[
	  SELECT
		*,
	    CASE
	      WHEN NOW() < STR_TO_DATE(
	        CONCAT(b.startDate, ' ', b.startTime),
	        '%Y-%m-%d %H:%i'
	      )
	        THEN 'UPCOMING'
	
	      WHEN NOW() BETWEEN
	        STR_TO_DATE(
	          CONCAT(b.startDate, ' ', b.startTime),
	          '%Y-%m-%d %H:%i'
	        )
	        AND
	        STR_TO_DATE(
	          CONCAT(b.endDate, ' ', b.endTime),
	          '%Y-%m-%d %H:%i'
	        )
	        THEN 'ONGOING'
	      ELSE 'PAST'
	    END AS bookingStatus
	
	  FROM booking b
	  INNER JOIN car c ON b.carId = c.carId
	  WHERE b.bookingId = #{bookingId}
	  ORDER BY STR_TO_DATE(
	    CONCAT(b.startDate, ' ', b.startTime),
	    '%Y-%m-%d %H:%i'
	  ) DESC
	  ]]>
	</select>
	
	<!-- 개인 예약 목록 + 차량 데이터 출력 -->
	<select id="getOneBookCar" resultType="managerDTO">
	  <![CDATA[
	  SELECT
	    *,
	
	    CASE
	      WHEN NOW() < STR_TO_DATE(
	        CONCAT(b.startDate, ' ', b.startTime),
	        '%Y-%m-%d %H:%i'
	      )
	        THEN 'UPCOMING'
	
	      WHEN NOW() BETWEEN
	        STR_TO_DATE(
	          CONCAT(b.startDate, ' ', b.startTime),
	          '%Y-%m-%d %H:%i'
	        )
	        AND
	        STR_TO_DATE(
	          CONCAT(b.endDate, ' ', b.endTime),
	          '%Y-%m-%d %H:%i'
	        )
	        THEN 'ONGOING'
	      ELSE 'PAST'
	    END AS bookingStatus
	
	  FROM booking b
	  INNER JOIN car c ON b.carId = c.carId
	  WHERE b.userId = #{userId}
	  ORDER BY STR_TO_DATE(
	    CONCAT(b.startDate, ' ', b.startTime),
	    '%Y-%m-%d %H:%i'
	  ) DESC
	  ]]>
	</select>
	
	<!-- 현재예약, 미래예약이 존재하지 않는 회원id 출력
	public List<String> selectIsRes(List<String> userIds); -->
	<select id="selectIsRes" resultType="string">
	    SELECT userId
	    FROM booking
	    WHERE userId NOT IN (
	        SELECT DISTINCT userId
	        FROM booking
	        WHERE STR_TO_DATE(CONCAT(endDate, ' ', endTime), '%Y-%m-%d %H:%i') >= NOW()
	    )
	</select>
	
</mapper>