<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cha.verification.mapper.VerificationMapper">
	<!-- 코드 저장하기 -->
	<insert id="saveCode">
	    INSERT INTO verification (email, code, expireTime)
	    VALUES (#{email}, #{code}, DATE_ADD(NOW(), INTERVAL 3 MINUTE))
	    ON DUPLICATE KEY UPDATE code = VALUES(code), expireTime = VALUES(expireTime)
	</insert>
	
	<!-- 코드비교 -->
	<select id="verifyCode" resultType="int">
    SELECT COUNT(*) FROM verification WHERE email = #{email} AND code = #{code} AND expireTime > NOW()
	</select>
	
	<!-- 코드 인증했으면 삭제하기  -->
	<delete id="deleteCode">
    	DELETE FROM verification WHERE email = #{email}
	</delete>
</mapper>